@model TestWebAppCoolName.Models.Person

@{
    ViewBag.Title = "Delete person";
}
<body>
<main style="justify-items: center; align-content: center; margin: 0; min-height: 100vh; text-align: center; grid-gap: var(--base);">


    <h1 class="" style="margin-bottom: 0;">Smazat osobu?</h1>
    <h2 class="h4" style="color: var(--text-secondary); margin-top: 0;">@Model.FullName</h2>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <button class="button">Nenávratně smazat</button>
            }
    <a class="link--gradient link--border" href="/admin/person">Ponechat</a>
    </main>
</body>