@model TestWebAppCoolName.Models.Person

@{
    ViewBag.Title = "Delete person";
}
<main>


    <h3>Opravdu chcete smazat tuto osobu?</h3>
    <div>
      
        <hr />
        <dl class="dl-horizontal">
            

            <dd>
                @Html.DisplayFor(model => model.FullName)
            </dd>

           

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <button type="submit" >Smazat </button>
            </div>
        }
    </div>
</main>