@model IEnumerable<TestWebAppCoolName.Models.Tag>

@{
    ViewBag.Title = "Admin Tag";
}

<main class="main">


    <p>
        @Html.ActionLink("Create New", "NewTag",null, new { @class = "link--gradient" })
    </p>
    <table class="table">
        <tr>
            <th>
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditTag", new { id = item.Id }, new { @class = "link--gradient" }) |
                    @Html.ActionLink("Delete", "DeleteTag", new { id = item.Id }, new { @class = "link--gradient" })
                </td>
            </tr>
        }

    </table>
</main>
