$base: 12px;

:root {
    --base: 12px;
    --base-h: calc(var(--base) / 2);
    --base-2: calc(var(--base) * 2);
    --base-3: calc(var(--base) * 3);
    --base-4: calc(var(--base) * 4);
    --base-5: calc(var(--base) * 5);
    --base-6: calc(var(--base) * 6);
    --base-7: calc(var(--base) * 7);
    --base-8: calc(var(--base) * 8);
    --base-9: calc(var(--base) * 9);
    --base-10: calc(var(--base) * 10);
}

@media screen and (max-width: $breakpoint-sm) {
    :root {
        --base: 8px;
    }
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    font-family: sans-serif;
    color: var(--text-primary);
    background-color: var(--glob-bg);
    box-sizing: border-box;
    height: 100%;
}

body {
    min-height: 100%;
    font-family: var(--font-stack);
    //padding-bottom: var(--base-10);
}

body {
    > header,
    > main,
    > footer {
        @include block-layout-reset;
        align-items: start;
        align-content: start;
    }
}

main {
    margin-top: var(--header-height);
}