button,
.button {
    //background: linear-gradient(to bottom,var(--clr-primary) 0%, var(--clr-primary) 80%, var(--clr-secondary) 20%, var(--clr-secondary) 100%);
    @include gradient;
    @include shadify(wb);
    color: var(--text-primary);
    box-shadow: var(--button-shadow), 0 0 0 2px transparent inset;
    padding: 1.5ch 2ch;
    border: none;
    border-radius: 1000px;
    font-family: var(--font-headings);
    font-weight: 700;
    cursor: pointer;
    transition-property: color, border-color, box-shadow;
    transition-duration: 0.1s;
    transition-timing-function: ease-out;
    position: relative;
    text-decoration: none;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: hsla(0, 0%, 0%, 0.1);
        opacity: 0;
        border-radius: inherit;
        transition: all 0.1s ease-out;
    }

    &:hover,
    &:focus {
        @include shadify(ww);
        box-shadow: var(--card-shadow), 0 0 0 2px var(--text-primary) inset;
        //border-color: white;

        &::after {
            opacity: 1;
        }
    }

    &:link,
    &:visited {
        color: inherit;
    }
}

.button--outlined {
    background: none;
    color: var(--text-primary);
    box-shadow: 0 0 0 2px var(--text-primary) inset;
    @include shadify(ww);

    &::after {
        background-color: hsla(0, 0%, 100%, 0.1);
    }

    &:hover,
    &:focus {
        @include shadify(ww);
        box-shadow: 0 0 0 2px var(--text-primary) inset;
    }
}