.card {
    --card-padding: var(--base-2);
    $this: &;
    display: grid;
    position: relative;

    &--clickable {

        &:hover {
            #{$this}__content {
                transform: translateY(-12px);
            }

            #{$this}__title {
                // Gradient stuff
                @include gradient;
                @include gradient-stuff;
            }
        }

    }

    &--admin {
        --card-padding: var(--base-4);
        
        #{$this}__content {
            align-content: start;
            padding: var(--card-padding);
            grid-gap: var(--card-padding);
        }

        #{$this}__title {
            display: inline;
        }

        #{$this}__image {
            max-height: 72px;

            svg {
                height: 100%;
                fill: url(#gradient);
            }
        }
    }

    &__content {
        display: grid;
        background-color: var(--card-bg);
        box-shadow: var(--card-shadow);
        border-radius: 20px;
        height: 100%;
        overflow: hidden;
        transition: transform ease-out 0.15s;
    }

    &__link {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    &__header {
        
    }

    &__title {
        margin: 0;
    }
}