
@{
    ViewBag.Title = "Admin";
}

<h2>Admin section</h2>

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Kurzy", "CourseAdmin","Course" )
        </th>
        <th>
            @Html.ActionLink("Blog", "BlogAdmin","Blog" )
        </th>
        <th>
            @Html.ActionLink("Lidi", "Index","People" )
        </th>
        <th></th>
    </tr>

 

</table>
