@{
    ViewBag.Title = "Ověření účtu";
}

<main class="main">
    <h2>@ViewBag.Title.</h2>
    <div>
        <p>
            Váš účet je ověřen. Prosím @Html.ActionLink("klikněte zde pro přihlášení", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
        </p>
    </div>
</main>
