@{
    ViewBag.Title = "Zapomenuté heslo";
}
<body class="body--admin">
    @Html.Partial("_LoginPartial")
    <main class="main">
        <hgroup class="title">
            <h1>@ViewBag.Title.</h1>
        </hgroup>
        <div>
            <p>
                Instrukce pro reset hesla byly zaslány na Váš e-mail.
            </p>
        </div>
    </main>

</body>
