@{
    ViewBag.Title = "Reset hesla";
}
<body class="body body--admin">
        <header class="header header--index" id="site-header">
            @Html.Partial("toolbarPartialView")
        </header>
    <main class="main">
        <hgroup class="title">
            <h1>@ViewBag.Title.</h1>
        </hgroup>
        <div>
            <p>
                Heslo bylo změněno. @Html.ActionLink("Přihlásit", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink",@class = "nav__link link--gradient link--border-hover" })
            </p>
        </div>
    </main>

</body>
