//-List of articles

.blog-grid {
    display: grid;
    grid-column: wide-start/wide-end;
    grid-template-columns: [left] 1fr [gap-1] 1fr [gap-2] 1fr [gap-3] 1fr [right];
    @include fluidify(grid-gap, 36px, 56px);
    @include fluidify(padding-top, 0px, 64px);

    @media screen and (max-width: $breakpoint-2x) {
        grid-template-columns: [left] 1fr [gap-1] 1fr [gap-2] 1fr [gap-3 right];
    }

    @media screen and (max-width: $breakpoint-sm) {
        grid-template-columns: [left gap-1 gap-2 ] 1fr [gap-3 right];
    }

    // All article previews

    .article-preview {
        grid-column: left / gap-2;
    }
    
    // First and biggest article

    .article-preview--primary {
        grid-column: gap-1 / gap-4;

        .article-preview__title {
            @include fluidify(font-size, $font-size-h1-min*1.5, $font-size-h1-max*1.5);

            @media screen and (max-width: $breakpoint-sm) {
                @include fluidify(font-size, $font-size-h2-min, $font-size-h2-max);
            }
        }

        @media screen and (min-width: $breakpoint-sm + 1px) {
            .article-preview__text {
                @include fluidify(font-size, $font-size-h3-min, $font-size-h3-max);
            }
        }
    }

    // Secondary visually different articles

    .article-preview--secondary {
        grid-column: span 1;

        &-1 {
            grid-column-start: gap-1;
        }

        &-2 {
            grid-column-start: gap-2;
        }

        &-3 {
            grid-column-start: left;
        }

        &-4 {
            grid-column-start: gap-1;
        } 
    
        .article-preview__title {
            @include fluidify(font-size, $font-size-h4-min, $font-size-h4-max);

            @media screen and (max-width: $breakpoint-sm) {
                @include fluidify(font-size, $font-size-h2-min, $font-size-h2-max);
            }
        }
    }

    // All other articles

    .article-preview--other {
        /* width: 75%; */

        @media screen and (min-width: $breakpoint-sm + 1px) {
            margin-bottom: var(--gutter);
            
            .article-preview__title {
                @include fluidify(font-size, $font-size-h2-min, $font-size-h2-max);
            }

            .article-preview__text {
                @include fluidify(font-size, $font-size-h5-min, $font-size-h5-max);
            }
        }
    }

}

//- Rules used in blog grid

.hr-blog {
    &--1 {
        grid-column: gap-1 / gap-3
    }

    &--2 {
        grid-column: left / gap-2;
    }

    @media screen and (max-width: $breakpoint-sm) {
        display: none;
    }
}

//- Huge decorative headline

.blog-headline {
    grid-column: left / gap-1;
    display: grid;
    align-items: start;
    margin: 0;
    line-height: 1.15;
    cursor: default;
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */

    @media screen and (max-width: $breakpoint-sm) {
            grid-column: left / right;
    }

    &__text {
        @include fluidify(font-size, $font-size-h1-min*4, $font-size-h1-max*5);
        background: linear-gradient(to bottom, var(--clr-shade-2), var(--glob-bg));
        @include gradient-stuff;
        
        @media screen and (min-width: $breakpoint-sm + 1px) {
            -webkit-writing-mode: vertical-rl;
            -ms-writing-mode: tb-rl;
            writing-mode: vertical-rl;
            transform: rotate(0.5turn);
            background: linear-gradient(to top, var(--clr-shade-2), var(--glob-bg));
            @include gradient-stuff;
        }
    }

}