.body {
    @include colors-modifiers;
}

.body--course {
    /* grid-template-rows: minmax(85vh,min-content) 1fr;
    @include fluidify(grid-gap, 36px, 128px); */
}

.banner--course {
    grid-column: full-start / full-end;
}

.header--course {
    
    &.header--up-top {
        @include shadify(wb);
        color: var(--text-primary);
        background-color: transparent;

        .site-name {
            background: var(--text-primary);
            @include gradient-stuff;
        }
    
        .site-logo {
            svg {
                fill: var(--text-primary);
            }
        }
    
        .nav__link {
            background: var(--text-primary);
            @include gradient-stuff;
            
            &:hover {
                background: var(--text-secondary);
                @include gradient-stuff;
            }
        }
    }

}

.intro--course {
    min-height: 85vh;
    @include block-layout-reset-simple;
    grid-column: full-start / full-end;
    padding-top: var(--header-height);
    margin-top: calc(var(--header-height) * (-1));
    @include fluidify(margin-bottom, 24px, 72px);
    @include gradient-pattern;
    @include shadify(wb);
    display: grid;

    grid-template-rows: minmax(64px, 480px) min-content;
    align-content: end;
    @include fluidify(grid-row-gap, 12px, 24px);
    background-color: transparent;
    color: var(--text-primary);
    text-align: left;

    @media screen and (max-width: $breakpoint-md) {
        grid-template-rows: 96px min-content;
    }
}

.course-texts {
    display: grid;
    align-content: start;
    align-items: start;
    @include fluidify(grid-row-gap, 12px, 24px);
    @include margin-reset;
}

.course-image {
    margin-bottom: var(--base-8);
    opacity: 0.25;

    svg {
        height: 100%;
        fill: var(--text-primary);
        //animation: springish;
        //animation-delay: 0.3s;
        animation-duration: 2.05s;
        animation-timing-function: cubic-bezier(0.445,  0.050, 0.550, 0.950);
    }

    @media screen and (max-width: $breakpoint-md) {
        margin-bottom: 0;
    }
}

.course {
    @include block-layout-reset-simple;
    position: relative;
    //grid-gap: var(--base);

    > * {
        grid-column: content-start / middle;
    }  

    &::before {
        content: "";
        grid-column: wide-start / content-start;
        grid-row: 1 / 7;
        width: 2px;
        height: 100%;
        margin-right: auto;
        //margin-right: var(--gutter);
        background: linear-gradient(to bottom, var(--clr-secondary), var(--clr-primary) 25%, var(--divider) 100%);
        transform-origin: right;
    }
    
    &__details {
        @include fluidify(margin-bottom, 48px, 96px);
    }

    &__toc-title {
        margin-top: 0;
        margin-bottom: var(--gutter);
    }

    &__toc {
        line-height: 1.5;
        list-style-type: circle;
        margin: 0;
        color: var(--text-secondary);
        //include fluidify(font-size, $font-size-h5-min, $font-size-h5-max)
    }
}

.course__heading--why {
    margin-top: 0;
}

.course__paragraph--details {
    margin-bottom: 0;
}

.reg-form {
    --radius: 20px;
    grid-column: content-start / content-end;
    display: grid;
    grid-template-columns: min-content 1fr;
    box-shadow: var(--card-shadow);
    /* padding: 8px; */
    border-radius: var(--radius);
    @include fluidify(margin-top, 36px, 96px);
    
    &__content {
        background-color: var(--card-bg);
        //background: linear-gradient(140deg, var(--card-bg), var(--glob-bg));
        //background: linear-gradient(140deg, var(--clr-primary), var(--clr-primary));
        display: grid;
        justify-content: center;
        grid-gap: var(--base);
        grid-template-columns: minmax(0, 320px);
        @include fluidify(padding, 12px, 96px);
        padding: var(--base-4) 0;
        border-radius: inherit;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;

        @media screen and (max-width: $breakpoint-md) {
            border-radius: inherit;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
    }

    &__title {
        border-radius: inherit;
        @include gradient;
        text-align: right;
        padding: var(--base-4);
        padding-left: 10ch;
        margin: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        @include shadify(wb);
        color: var(--text-primary);

        @media screen and (max-width: $breakpoint-md) {
            border-radius: inherit;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            text-align: center;
            padding-left: var(--base-4);
        }
    }
    
    &__button {
        margin-top: var(--base);
    }

    @media screen and (max-width: $breakpoint-md) {
        grid-template-columns: 1fr;
        grid-template-rows: min-content 1fr;
    }
}

@keyframes springish {
    0.00% {transform: translate3d(0,-50.00%, 0) scale(1.5);}
    10.32% {transform: translate3d(0,23.15%, 0) scale(0.7685);}
    21.53% {transform: translate3d(0,-10.37%, 0) scale(1.1037);}
    32.74% {transform: translate3d(0,4.65%, 0) scale(0.9535);}
    43.95% {transform: translate3d(0,-2.08%, 0) scale(1.0208);}
    55.16% {transform: translate3d(0,0.93%, 0) scale(0.9907);}
    66.37% {transform: translate3d(0,-0.42%, 0) scale(1.0042);}
    77.58% {transform: translate3d(0,0.19%, 0) scale(0.9981);}
    88.79% {transform: translate3d(0,-0.08%, 0) scale(1.0008);}
    100.00% {transform: translate3d(0,0.04%, 0) scale(0.9996);}
}
