.main--error {
    margin: 0;
    min-height: 100vh;
    align-content: center;

    @media screen and (max-width: $breakpoint-sm) {
        text-align: center;
    }
}
.error-code {
    grid-column: content-start / full-end;
    margin: 0;
    @include fluidify(font-size, $font-size-h1-min*4, $font-size-h1-max*5);
    background: linear-gradient(to bottom, var(--clr-shade-2), var(--glob-bg));
    @include gradient-stuff;
    font-weight: 900;
    font-family: var(--font-headings);
    line-height: 0.7;
    
}

.error-title {
    //grid-column: middle / wide-end;
    //margin-top: 0;
    margin-bottom: 0;
    line-height: 1.5;
}

.error-link {
    //grid-column: middle / wide-end;
}