.footer {
    background: linear-gradient(to bottom, var(--glob-bg), var(--clr-shade-3));
    @include fluidify(padding-top, 24px, 96px);
    @include fluidify(padding-bottom, 24px, 36px);
    justify-content: center;
    justify-items: center;

    hr {
        grid-column: wide-start / wide-end;
    }

    .nav {
        grid-column: content-start / content-end;
        padding: 0;
    }
}