$person-class: person;

.#{$person-class} {
    display: grid;
    justify-items: center;
    justify-content: center;
    text-align: center;
    grid-row-gap: var(--base-2);

    &__avatar {
        --person-avatar-size: 10vw;
        
        background-color: var(--card-bg);
        box-shadow: var(--card-shadow);
        //height: var(--person-avatar-size);
        //width: var(--person-avatar-size);
        border-radius: 10000px;

        @include fluidify(height width, 64px, 96px);

        &--dan {
        }

        &--honza {
          
        }
    }

    &__img {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        border-radius: inherit;
        overflow: hidden;

        svg {
            height: 50%;
            fill: var(--glob-bg);
        }
    }

    &__bio {
        display: grid;
        justify-items: center;
        //grid-row-gap: var(--base-h);

        > * {
            margin: 0;
        }
    }
}