
:root {
    --main-gap: 4vw;
    --article-gap: 2vw;
    --gutter: var(--base-2);
    --layout-columns:   [full-start] minmax(0, 1fr) [wide-start] minmax(0, 1fr) [content-start] minmax(0, calc(var(--breakpoint-lg)/2)) [middle] minmax(0, calc(var(--breakpoint-lg)/2)) [content-end] minmax(0, 1fr) [wide-end] minmax(0, 1fr) [full-end];
    --article-columns:  [full-start] minmax(0, 1fr) [wide-start] minmax(0, 1fr) [content-start] minmax(0, 30ch) [middle] minmax(0, 30ch)
     [content-end] minmax(0, 1fr) [wide-end] minmax(0, 1fr) [full-end];
}

@media screen and (max-width: $breakpoint-md) {
    :root {
        --gutter: var(--base);
    }
}

@media screen and (max-width: $breakpoint-sm) {
    :root {
        --layout-columns:   [full-start] minmax(0, 1fr) [wide-start content-start middle] minmax(0, var(--breakpoint-sm)) [content-end wide-end] minmax(0, 1fr) [full-end];
        --article-columns:  [full-start] minmax(0, 1fr) [wide-start content-start middle] minmax(0, var(--breakpoint-sm)) [content-end wide-end] minmax(0, 1fr) [full-end];
    }
}

@mixin margin-reset {
    > * {
        margin-top: 0;
        margin-bottom: var(--base);
    }
}

@mixin block-layout-reset {
    display: grid;
    grid-template-columns: var(--layout-columns);
    grid-column-gap: var(--gutter);
    grid-row-gap: var(--gutter);
    //@include fluidify(grid-row-gap, 12px, 36px);
    //padding-bottom: var(--main-gap);
    //padding-top: var(--main-gap);
    //@include margin-reset;

    > * {
        grid-column: content-start / content-end;
    }

    /* hr {
        @include fluidify(margin-bottom, 12px, 64px);

        @media screen and (max-width: $breakpoint-md) {
            grid-column: content-start / full-end !important;
        }
    } */

    /* p {
        color: var(--text-secondary);
    } */
}

@mixin block-layout-reset-simple {
    display: grid;
    grid-template-columns: var(--layout-columns);
    grid-column-gap: var(--gutter);

    > * {
        grid-column: content-start / content-end;
    }

    /* hr {
        @include fluidify(margin-bottom, 12px, 64px);

        @media screen and (max-width: $breakpoint-md) {
            grid-column: content-start / full-end !important;
        }
    } */
}

@mixin block-layout-reset-article {
    display: grid;
    grid-template-columns: var(--article-columns);
    grid-column-gap: var(--gutter);

    > * {
        grid-column: content-start / content-end;
    }

    hr {
        @include fluidify(margin-bottom, 12px, 64px);

        @media screen and (max-width: $breakpoint-md) {
            grid-column: content-start / full-end !important;
        }
    }

    p {
        color: var(--text-secondary);
    }
}