:root {
	--breakpoint-xs: 480px;
	--breakpoint-sm: 600px;
	--breakpoint-md: 840px;
	--breakpoint-lg: 960px;
	--breakpoint-xl: 1280px;
	--breakpoint-2x: 1800px;
}

$breakpoint-xs: 480px;
$breakpoint-sm: 600px;
$breakpoint-md: 840px;
$breakpoint-lg: 960px;
$breakpoint-xl: 1280px;
$breakpoint-2x: 1800px;

$breakpoints: (
	breakpoint-xs: $breakpoint-xs,
	breakpoint-sm: $breakpoint-sm,
	breakpoint-md: $breakpoint-md,
	breakpoint-lg: $breakpoint-lg,
	breakpoint-xl: $breakpoint-xl,
	breakpoint-2x: $breakpoint-2x,
);