@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Locked Out";
}

<hgroup>
    <h1 class="text-danger">Zamčeno.</h1>
    <h2 class="text-danger">Tento účet byl dočasně uzamknut, zkuste to později.</h2>
</hgroup>
