@model TestWebAppCoolName.Models.IndexViewModel
@{
    ViewBag.Title = "Nastavení účtu";
}
<body class="body--admin">
@Html.Partial("_LoginPartial")
    <main class="main">
       

        <p class="text-success">@ViewBag.StatusMessage</p>
        <div>
            <h4>Nastavení účtu</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>Heslo:</dt>
                <dd>
                    [
                    @if (Model.HasPassword)
                    {
                        @Html.ActionLink("Změna hesla", "ChangePassword")
                    }
                    else
                    {
                        @Html.ActionLink("Nové", "SetPassword")
                    }
                    ]
                </dd>

            </dl>
        </div>
    </main>

</body>